@{
    Layout = "_Layout";
}


<body>
    <div class="verse-box">
        @foreach (var verse in ViewBag.verses)
        {
            <div class="verse-panel">
                <span class="verse-text">@verse.ReferenceText</span>

                <span class="verse-text">@verse.VerseText</span>

                <button class="favoriteBtn" name="favoriteBtn" id="@verse.Id" value="@verse">Favorite</button>

                <img src="@verse.ImageLink" />

            </div>
            <script>
                document.getElementById("@verse.Id").addEventListener("click", async function () {

                    await fetch('https://localhost:5001/favorited', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-type': 'application/json'
                        },
                        body: JSON.stringify({
                            id: "@verse.Id",
                            versetext: "@verse.VerseText",
                            book: "@verse.Book",
                            chapter: "@verse.Chapter",
                            imageLink: "@verse.ImageLink",
                            referenceText: "@verse.ReferenceText"
                        })
                    })
                });
            </script>
        }
    </div>
</body>