
<head>
    <style type="text/css">
        body {
            background: url('../../Assets/mountains.jpeg') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>

<body>

    <a href="/favorites">View My Favorites</a>
    <a href="/verses">Select Verses</a>
    <div>
        @foreach (var verse in ViewBag.verses)
        {
            <span>
                <span>@verse.Book</span><span>@verse.VerseText</span>
                <input type="hidden"  name="id" value="@verse.Id" />
                <input type="hidden"  name="versetext" value="@verse.VerseText" />
                <input type="hidden"  name="book" value="@verse.Book" />
                <input type="hidden"  name="chapter" value="@verse.Chapter" />
                <input type="hidden"  name="image" value="@verse.ImageLink" />
                <button name="favoriteBtn" id="@verse.Id" value="@verse">Favorite</button>
            </span>
            <script>
                document.getElementById("@verse.Id").addEventListener("click", async function () {

                    await fetch('https://localhost:5001/favorited', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-type': 'application/json'
                        },
                        body: JSON.stringify({
                            id: "@verse.Id", 
                            versetext: "@verse.VerseText",
                            book: "@verse.Book", 
                            chapter: "@verse.Chapter",
                            image: "@verse.ImageLink"
                        })
                    })
                });
            </script>
        }
    </div>

</body>

<script type="text/javascript">

   

    
</script>
